<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Account</title>
    </head>
    <body>
        <h1>{{ account }}</h1>
        <p>This is your account balance: {{ balance }}</p>
    </body>
</html>

