<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Accounts</title>
    </head>
    <body>
        <h1>Accounts</h1>
        <p>
            Welcome, {{ user }}
            Your id is : {{ user.id }}
        </p>
        <hr />
        <p>
            ledger count : {{ ledger_count }}
        </p>
        <ul>
            {% for account in accounts %}
            <li>    
                {{ account }}
            </li>
            {% endfor %}
        </ul>
        <form action="." method="POST">
            {% csrf_token %}
            <input type="text" name="account_name" placeholder="Add an account here" />
            <input type="hidden" name="id" value="{{ user.id }}" />
            
            <button>Create Account</button>
        </form>
    </body>
</html>

