<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Transaction</title>
    </head>
    <body>
        <h1>Make a transaction</h1>
        <hr />
        <form action="." method="POST">
            {% csrf_token %}
            <label for="from_account">From account: </label>
            <input type="number" name="from_account" placeholder="id" />
            <label for="to_account">To account: </label>
            <input type="number" name="to_account" placeholder="id" />
            <label for="amount">Amount: </label>
            <input type="number" name="amount" placeholder="amount" />
            <input type="text"  name="message" placeholder="enter a message" />

            <button>Make transaction</button>
        </form>
    </body>
</html>

